In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

data_directory = os.path.join('.', 'data_rejected')

loan_data_path = os.path.join(data_directory, 'Rejected_LoanData.csv')
loan = pd.read_csv(loan_data_path, low_memory=False, encoding='latin-1')

In [2]:
pd.set_option('display.max_columns', len(loan.columns))
loan.head(3)

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code,timestamp
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0,1491530373
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0,1491530373
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0,1491530373

In [3]:
 pd.reset_option('display.max_columns')

In [4]:
loan.dtypes

Amount Requested        float64
Application Date         object
Loan Title               object
Risk_Score              float64
Debt-To-Income Ratio     object
Zip Code                 object
State                    object
Employment Length        object
Policy Code               int64
timestamp                 int64
dtype: object

In [5]:
print(loan.shape)
print(loan.columns)
print(loan.describe())

(11079386, 10)
Index(['Amount Requested', 'Application Date', 'Loan Title', 'Risk_Score',
       'Debt-To-Income Ratio', 'Zip Code', 'State', 'Employment Length',
       'Policy Code', 'timestamp'],
      dtype='object')

C:\Users\ankur\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       Amount Requested    Risk_Score   Policy Code     timestamp
count      1.107939e+07  4.676607e+06  1.107939e+07  1.107939e+07
mean       1.339154e+04  6.233829e+02  5.542545e-03  1.491530e+09
std        1.619671e+04  1.084081e+02  1.051398e-01  9.740319e+00
min        0.000000e+00  0.000000e+00  0.000000e+00  1.491530e+09
25%        4.500000e+03           NaN  0.000000e+00  1.491530e+09
50%        1.000000e+04           NaN  0.000000e+00  1.491530e+09
75%        2.000000e+04           NaN  0.000000e+00  1.491530e+09
max        1.400000e+06  9.900000e+02  2.000000e+00  1.491530e+09

In [6]:
loan.columns = [c.replace(' ', '_') for c in loan.columns]
loan

,Amount_Requested,Application_Date,Loan_Title,Risk_Score,Debt-To-Income_Ratio,Zip_Code,State,Employment_Length,Policy_Code,timestamp
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0,1491530373
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0,1491530373
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0,1491530373
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0,1491530373
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0,1491530373
5,15000.0,2007-05-27,Trinfiniti,645.0,0%,105xx,NY,3 years,0,1491530373
6,10000.0,2007-05-27,NOTIFYi Inc,693.0,10%,210xx,MD,< 1 year,0,1491530373
7,3900.0,2007-05-27,For Justin.,700.0,10%,469xx,IN,2 years,0,1491530373
8,3000.0,2007-05-28,title?,694.0,10%,808xx,CO,4 years,0,1491530373
9,2500.0,2007-05-28,timgerst,573.0,11.76%,407xx,KY,4 years,0,1491530373
10,3900.0,2007-05-28,need to consolidate,710.0,10%,705xx,LA,10+ years,0,1491530373
11,1000.0,2007-05-28,sixstrings,680.0,10%,424xx,KY,1 year,0,1491530373
12,3000.0,2007-05-28,bmoore5110,688.0,10%,190xx,PA,< 1 year,0,1491530373
13,1500.0,2007-05-28,MHarkins,704.0,10%,189xx,PA,3 years,0,1491530373
14,1000.0,2007-05-28,Moving,694.0,10%,354xx,AL,< 1 year,0,1491530373
15,8000.0,2007-05-28,Recent College Grad Wants to Pay Off CCs,708.0,10%,374xx,TN,< 1 year,0,1491530373
16,12000.0,2007-05-29,FoundersCafe.com,685.0,10%,770xx,TX,3 years,0,1491530373
17,1000.0,2007-05-29,UChicago2004,698.0,10%,207xx,MD,3 years,0,1491530373
18,15000.0,2007-05-29,Cancer is Killing My Credit,680.0,10%,432xx,OH,< 1 year,0,1491530373
19,5000.0,2007-05-29,2006-2007 College Debt Loan,680.0,10%,011xx,MA,< 1 year,0,1491530373
20,15000.0,2007-05-29,twbmc,712.0,10%,773xx,TX,< 1 year,0,1491530373
21,5000.0,2007-05-29,Bills & Vacation,704.0,10%,212xx,MD,1 year,0,1491530373
22,4950.0,2007-05-29,Vehicle Purchase/Used Auto,693.0,10%,220xx,VA,2 years,0,1491530373
23,6100.0,2007-05-29,thejanman,684.0,24.69%,453xx,OH,2 years,0,1491530373
24,12000.0,2007-05-29,Finish Off College,704.0,10%,462xx,IN,2 years,0,1491530373
25,25000.0,2007-05-29,Phuocpnn,686.0,10%,631xx,MO,< 1 year,0,1491530373
26,15000.0,2007-05-29,Established borrower consolodating debt,698.0,15.56%,559xx,MN,< 1 year,0,1491530373
27,5000.0,2007-05-29,mainmanandy,719.0,10%,457xx,OH,< 1 year,0,1491530373
28,10000.0,2007-05-30,Jaguar10301,602.0,2.25%,221xx,VA,< 1 year,0,1491530373
29,10000.0,2007-05-30,rpinho78,475.0,21.77%,061xx,CT,< 1 year,0,1491530373
...,...,...,...,...,...,...,...,...,...,...
11079356,8000.0,2016-12-31,other,NaN,-1%,787xx,TX,5 years,0,1491530408
11079357,1000.0,2016-12-31,moving,NaN,0%,424xx,KY,5 years,0,1491530408
11079358,10000.0,2016-12-31,debt_consolidation,NaN,3.48%,850xx,AZ,< 1 year,0,1491530408
11079359,1000.0,2016-12-31,medical,NaN,10.6%,073xx,NJ,< 1 year,0,1491530408
11079360,40000.0,2016-12-31,major_purchase,NaN,-1%,148xx,NY,n/a,0,1491530408
11079361,5000.0,2016-12-31,Home improvement,585.0,5.95%,200xx,DC,< 1 year,0,1491530408
11079362,10000.0,2016-12-31,other,NaN,-1%,531xx,WI,< 1 year,0,1491530408
11079363,1000.0,2016-12-31,moving,NaN,3.33%,763xx,TX,5 years,0,1491530408
11079364,40000.0,2016-12-31,debt_consolidation,NaN,23.06%,853xx,AZ,< 1 year,0,1491530408
11079365,1500.0,2016-12-31,other,NaN,2.55%,458xx,OH,5 years,0,1491530408
11079366,4000.0,2016-12-31,debt_consolidation,NaN,9.32%,760xx,TX,< 1 year,0,1491530408
11079367,1000.0,2016-12-31,Green loan,509.0,0%,549xx,WI,< 1 year,0,1491530408
11079368,5000.0,2016-12-31,other,NaN,18.8%,667xx,KS,n/a,0,1491530408
11079369,9000.0,2016-12-31,debt_consolidation,NaN,-1%,856xx,AZ,< 1 year,0,1491530408
11079370,35000.0,2016-12-31,Other,702.0,3.45%,113xx,NY,< 1 year,0,1491530408
11079371,15000.0,2016-12-31,Debt consolidation,589.0,6.02%,958xx,CA,< 1 year,0,1491530408
11079372,2500.0,2016-12-31,Vacation,527.0,0%,465xx,IN,< 1 year,0,1491530408
11079373,3000.0,2016-12-31,credit_card,NaN,13.59%,720xx,AR,5 years,0,1491530408
11079374,30000.0,2016-12-31,Car financing,730.0,11.9%,125xx,NY,< 1 year,0,1491530408
11079375,7000.0,2016-12-31,car,NaN,22.74%,967xx,HI,< 1 year,0,1491530408
11079376,9975.0,2016-12-31,credit_card,NaN,-1%,394xx,MS,n/a,0,1491530408
11079377,7000.0,2016-12-31,Car financing,678.0,20.24%,283xx,NC,< 1 year,0,1491530408
11079378,30000.0,2016-12-31,Debt consolidation,681.0,55.15%,726xx,AR,< 1 year,0,1491530408
11079379,1000.0,2016-12-31,Debt consolidation,531.0,31.31%,761xx,TX,< 1 year,0,1491530408
11079380,2000.0,2016-12-31,small_business,NaN,27.45%,905xx,CA,n/a,0,1491530408
11079381,10000.0,2016-12-31,Debt consolidation,590.0,41.26%,441xx,OH,< 1 year,0,1491530408
11079382,10000.0,2016-12-31,moving,NaN,1.48%,207xx,MD,5 years,0,1491530408
11079383,1200.0,2016-12-31,Other,686.0,10.26%,914xx,CA,< 1 year,0,1491530408
11079384,25000.0,2016-12-31,debt_consolidation,NaN,17.71%,880xx,NM,< 1 year,0,1491530408
11079385,15000.0,2016-12-31,Business,684.0,10.58%,113xx,NY,< 1 year,0,1491530408

In [7]:
loan['Employment_Length'] = loan.Employment_Length.str.replace('+','')
loan['Employment_Length'] = loan.Employment_Length.str.replace('<','')
loan['Employment_Length'] = loan.Employment_Length.str.replace('years','')
loan['Employment_Length'] = loan.Employment_Length.str.replace('year','')
loan['Employment_Length'] = loan.Employment_Length.str.replace('n/a','0')

In [8]:
loan.Employment_Length.unique()

array(['4 ', ' 1 ', '1 ', '3 ', '2 ', '10 ', '9 ', '5 ', '7 ', '6 ', '8 ',
       '0'], dtype=object)

In [9]:
loan['Employment_Length'] = loan.Employment_Length.map(float)

In [10]:
strColumns = loan.select_dtypes(include=['object']).columns.values
loan[strColumns] = loan[strColumns].fillna('Unknown')

In [11]:
loan.select_dtypes(exclude=[np.number]).isnull().sum()

Application_Date        0
Loan_Title              0
Debt-To-Income_Ratio    0
Zip_Code                0
State                   0
dtype: int64

In [12]:
#check number of missing values for each numeric column variable
loan.select_dtypes(include=[np.number]).isnull().sum()

Amount_Requested           0
Risk_Score           6402779
Employment_Length          0
Policy_Code                0
timestamp                  0
dtype: int64

In [13]:
strColumns = loan.select_dtypes(include=[np.number]).columns.values
loan[strColumns] = loan[strColumns].fillna(loan[strColumns].mean())

In [14]:
loan.select_dtypes(include=[np.number]).isnull().sum()

Amount_Requested     0
Risk_Score           0
Employment_Length    0
Policy_Code          0
timestamp            0
dtype: int64

In [15]:
loan.to_csv("data_rejected/Cleaned_RejectedLoanData.csv")