In [1]:
########################################################################################################
#                          Assignment 1: Author, Vaishali Lambe NUID: 001286444                        #
########################################################################################################

#import pandas as pd to read data from ClassData.csv
import pandas as pd 

#read the dataset
ClassData=pd.read_csv("C:/Users/Admin/Documents/DataScience/R-tutorial/ClassData.csv")

#rename few colunms in dataframe ClassData
ClassData = ClassData.rename(columns={'Years of work experience': 'YWEx', 'Latest salary (per year)': 'LSPY',
                                      'Expected Salary after graduation': 'ESAG','Coops/Internships (YN)':'Coop',
                                      'Number of contacts on Linkedin' :'NCLN' })
#display the dataset in dataframe format
ClassData

    No   GPA  YWEx   LSPY  Highest GPA   Lowest GPA Coop  NCLN    ESAG
0    1  3.50   2.5  45000          3.50        3.50    N   250   90000
1    2  3.80   1.0  65000          3.60        3.00    Y   400  100000
2    3  3.80   2.0  85000          4.00        3.60    Y   500   90000
3    4  3.41   1.5  10000          3.41        3.33    N   365  100000
4    5  3.33   5.0  70000          3.67        3.00    Y   400  100000
5    6  3.52   2.5  27000          3.58        3.52    N   230   85000
6    7  3.50   2.0  40000          3.70        3.30    N   250   90000
7    8  3.50   5.0  75000          3.53        3.30    Y   260  100000
8    9  3.60   2.5  65000          3.90        3.10    Y   250  110000
9   10  3.20   4.0  62000          3.80        3.00    N   525  105000
10  11  3.50   2.0  60000          3.50        3.50    N   400   85000
11  12  3.67   1.8  60000          4.00        3.00    N   920  140000
12  13  3.50   2.0  60000          3.70        3.30    y   300   90000
13  14  3.47   2.5  70000          3.64        3.37    Y   310   95000
14  15  3.06   1.3  40000          3.64        2.67    Y   550  120000
15  16  3.27   2.0  60000          4.00        3.00    Y   350  100000
16  17  3.53   4.0  50000          4.00        3.30    N   600   88000
17  18  4.00   4.0  50000          4.00        4.00    Y   500  130000
18  19  3.40   1.0  30000          3.60        3.10    N   500   80000
19  20  3.54   1.0  40000          4.00        3.42    Y   650   95000
20  21  3.50   2.0  75000          4.00        3.00    Y   515   80000
21  22  3.50   4.0  50000          3.80        3.20    Y   350  110000
22  23  3.40   3.0  50000          3.80        3.20    Y   301   90000
23  24  3.30   4.0  65000          4.00        3.65    Y   700  100000
24  25  3.90   6.0  90000          4.00        3.80    Y   809  120000
25  26  3.17   1.0  50000          3.30        3.00    N   258  100000
26  27  3.48   3.5  60000          4.00        3.33    Y   350  100000
27  28  3.93   4.0  43000          4.00        3.28    Y   900  100000
28  29  3.43   4.0  60000          3.50        3.30    Y   220  110000
29  30  3.33   5.0   5000          3.66        3.00    Y   183  100000
30  31  3.60   1.5  60000          3.70        3.40    Y   340  100000
31  32  3.80   3.0  65000          3.80        3.50    Y   800   80000
32  33  3.50   3.0  65000          4.00        3.60    Y   400   80000
33  34  3.39   2.0  60000          3.80        3.20    Y   500   90000

In [2]:
#Min, Max, Average, Median of GPA
#import numpy as np to caculate min max median and mean
import numpy as np
meanGPA=np.mean(ClassData['GPA'])
print("Average of GPA is:",meanGPA)
maxGPA=np.max(ClassData['GPA'])
print("Maximum value of GPA is:",maxGPA)
minGPA=np.min(ClassData['GPA'])
print("Minimum value of GPA is:",minGPA)
medGPA=np.median(ClassData['GPA'])
print("Median value of GPA is:",medGPA)

Average of GPA is: 3.5097058823529426
Maximum value of GPA is: 4.0
Minimum value of GPA is: 3.06
Median value of GPA is: 3.5

In [3]:
#Min, Max, Average, Median of years of work experience
meanYWEx=np.mean(ClassData['YWEx'])
print("Average of years of work exp is:",meanYWEx)
maxYWEx=np.max(ClassData['YWEx'])
print("maximum vaue of years of work exp is:", maxYWEx)
minYWEx=np.min(ClassData['YWEx'])
print("minimum value of years of work exp is:", minYWEx)
medYWEx=np.median(ClassData['YWEx'])
print("madian of years of work exp is:", medYWEx)

Average of years of work exp is: 2.8117647058823527
maximum vaue of years of work exp is: 6.0
minimum value of years of work exp is: 1.0
madian of years of work exp is: 2.5

In [4]:
#mode of latest salary per year
#import stats from scipy 
from scipy import stats

#calculate mode of latest salary per year
modeLSPY=stats.mode(ClassData['LSPY'])
print("mode of latest salary per year is:", modeLSPY)

mode of latest salary per year is: ModeResult(mode=array([60000], dtype=int64), count=array([8]))

In [5]:
#% of students having Co/op and not having Co/op
#total students
total_count=len(ClassData['Coop'])

#total students on coop
On_Coop=ClassData['Coop'].value_counts()['Y']
On_Coop1=ClassData['Coop'].value_counts()['y']
Total_on_Coop= On_Coop+On_Coop1

#total students not on coop
Non_Coop=ClassData['Coop'].value_counts()['N']

#percent of students having coop
percent_on_Coop= (Total_on_Coop)/(total_count) *100
print("% of students having co-op is:", percent_on_Coop)

#percent of students not having coop
percent_non_Coop= (Non_Coop)/(total_count) *100
print("% of students not having co-op is:", percent_non_Coop)

% of students having co-op is: 70.5882352941
% of students not having co-op is: 29.4117647059

In [6]:
# No of students with more than 500 LinkedIn contacts

ln_Contacts=ClassData[(ClassData['NCLN'] > 500 )]
print("No. of students with more than 500 contacts are:", len(ln_Contacts))

No. of students with more than 500 contacts are: 10

In [7]:
# Find the Inter Quartile Range for the Expected
iqr = np.subtract(*np.percentile(ClassData['ESAG'], [75, 25]))
print("Inter Quartile Range for the Expected for expected salary is:", iqr)

Inter Quartile Range for the Expected for expected salary is: 10000.0